.navigation {
    display: flex;
    font-size: 3rem;
    justify-content: space-around;
    background-image: linear-gradient(180deg, #1d063af8 35%, #5c0dbdd0 90%);
    height: 100%;
    color: white;
}

.navigation div {
    padding: 20px 0;
    text-align: center;
    flex: 1;
    border: 1px solid black;
}

.carousel {
    background-color: lightblue;
    height: 500px;
}