@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

body {
  background-color: whitesmoke;
}

main.container {
  padding: 0;
}

main {
  font-family: "Roboto", sans-serif;
}

.navigation {
  display: flex;
  font-size: 2rem;
  justify-content: space-around;
  background-image: linear-gradient(180deg, #1d063af8 35%, #5c0dbdd0 90%);
  height: 100%;
  color: white;
}

.navigation div {
  padding: 20px 0;
  text-align: center;
  flex: 1;
  border: 1px solid black;
}

.carousel-item {
  width: 500px;
}

.products {
  padding: 20px 0;
}

#carouselExampleControls {
  border: 1px solid rgba(161, 161, 161, 0.541);
  width: 100%;
}

.carousel-inner {
  max-width: 1800px;
  width: 100%;
  display: flex;
  justify-content: start;
}

.carousel-control-prev {
  background-color: rgba(112, 112, 112, 0.493);
}

.carousel-control-next {
  background-color: rgba(112, 112, 112, 0.493);
}

.row-top,
.row-bottom {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.row-top img,
.row-bottom img {
  width: 200px;
}

.row-top p,
.row-bottom p {
  width: 300px;
}

.product-top,
.product-bottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
  padding: 10px;
  border-radius: 5px;
  width: 16vw;
  height: 50vh;
  min-width: 220px;
  transition: 300ms;
  background-color: white;
}

.product-bottom:hover,
.product-top:hover {
  box-shadow: 5px 5px 20px 10px rgb(199, 199, 199);
}

.product-top-img,
.product-bottom-img {
  margin-bottom: 20px;
  width: 100%;
  height: 50%;
  text-align: center;
  transition: 300ms;
}

.product-top-img:hover,
.product-bottom-img:hover {
  transform: scale(1.1);
}

.product-bottom-img img {
  width: 90%;
  height: 100%;
}

.product-top-info,
.product-bottom-info {
  font-weight: bold;
  width: 100%;
  height: 29%;
}

.product-top-info p,
.product-bottom-info p {
  margin-bottom: 40px;
  width: 100%;
  height: 40%;
}

.product-top-button,
.product-bottom-button {
  font-weight: bold;
  margin-top: 5px;
  width: 100%;
  text-align: center;
  color: white;
  padding: 10px 0 0 0;
}

.product-bottom-button button,
.product-top-button button {
  background-image: linear-gradient(180deg, #1d063af8 35%, #5c0dbdd0 90%);
  width: 100%;
  padding: 10px 0;
  transition: 300ms;
}

.product-bottom-button button:hover,
.product-top-button button:hover {
  transform: scale(1.03);
  font-size: 20px;
  background-color: rgb(172, 13, 13);
}
