<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/reset.css" />
    <link rel="stylesheet" href="./css/painelDoUsuario.css" />
    <link rel="stylesheet" href="./css/global.css" />
    <title>Painel do usuário</title>
  </head>
  <body>
    <%- include('./components/header.ejs') %>
    <main>
      <section>
        <div class="content-top">
          <div class="image-01">
            <img src="./image/avatar.png" />
            <h3>Bem vindo, <%=userLogged.name%></h3>
          </div>
        </div>
        <div class="middle-info">
          <div class="image">
            <img src="./image/carrinho-de-compras.png" />
            <p>RESUMO DO SEU ULTIMO PEDIDO</p>
          </div>
        </div>
        <div class="content-middle">
          <div class="row">
            <p>NUMERO DO PEDIDO</p>
            <p>STATUS</p>
            <p>DATA</p>
            <p>PAGAMENTO</p>
          </div>
          <div class="row">
            <p>00000000000</p>
            <p>Lorem</p>
            <p>00/00/00</p>
            <p>Lorem</p>
          </div>
          <div class="row">
            <p>ENDEREÇO</p>
            <p>SEDEX</p>
          </div>
        </div>
        <div class="bt-right">
          <a href=""><button>VER TODOS OS PRODUTOS</button></a>
        </div>
      </section>
      <section>
        <div class="bt-left">
          <img src="./image/rede.png" /> <a href=""><button>ATALHOS</button></a>
        </div>
      </section>
      <section>
        <div class="button-left">
          <img src="./image/bolsa-de-compras.png" /> <a href=""><button>MEUS PRODUTOS</button></a>
        </div>
        <div class="button-middle">
          <img src="./image/agente-de-atendimento-ao-cliente.png" />
          <a href=""><button>ATENDIMENTO AO CLIENTE</button></a>
        </div>
        <div class="button-right">
          <img src="./image/coracao.png" /> <a href=""><button>FAVORITOS</button></a>
        </div>
      </section>
    </main>
    <%- include('./components/footer.ejs') %>
  </body>
</html>
