@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");

main.container {
  padding: 0;
}
main {
  font-family: "Roboto", sans-serif;
}
.top-info {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  height: 100vh;
  /* background-image: linear-gradient(180deg, #1d063af8 35%, #5c0dbdd0 90%); */
  background-color: #f2f2f2;
  width: 100%;
  color: #181818;
  gap: 5px;
}

.top-info img {
  width: 50px;
  height: 50px;
  margin-bottom: 60px;
}

.image {
  display: inline-block;
  width: 15%;
  height: 15%;
  text-align: center;
  margin-top: 5px;
}

.image img {
  margin: 0;
}

.button-left {
  display: inline-block;
  flex-wrap: nowrap;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
  width: 20%;
  height: 40px;
  text-align: center;
  color: black;
  padding: 10px 0 0 0;
  background-color: rgb(32, 198, 204);
  margin-left: 340px;
  transition: 300ms;
}
.button-right {
  display: inline-block;
  flex-wrap: nowrap;
  flex-direction: row;
  font-weight: bold;
  margin-top: 10px;
  width: 20%;
  height: 40px;
  text-align: center;
  color: black;
  padding: 10px 0 0 0;
  background-color: #5c0dbdd0;
  margin-left: 135px;
  transition: 300ms;
}
.button-right:hover,
.button-left:hover {
  transform: scale(1.05);
  cursor: pointer;
}
