<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body>
    <footer>
      <div class="about-us">
        <ul>
          <li>Sobre nós</li>
          <li>Loja física</li>
          <li>Trabalhe conosco</li>
        </ul>
      </div>
      <div class="social">
        <img src="../image/icons/whatsapp.png" alt="" />
        <img src="../image/icons/instagram.png" alt="" />
        <img src="../image/icons/twitter.png" alt="" />
      </div>
      <div></div>
    </footer>
  </body>
</html>
