<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/global.css" />
  </head>
  <body>
    <footer>
      <nav class="navigation-footer">
        <div>SAC</div>
        <div>Canal de Vendas</div>
        <div>Política de Privacidade</div>
        <div>Trabalhe Conosco</div>
      </nav>
      <div class="container">
        <h1>© Products Group 03 PI 2022 - Todos os direitos reservados</h1>
      </div>
    </footer>
  </body>
</html>
